body  
{  
    margin: 0;  
    padding: 0;  
    background-image: url(https://img.lovepik.com/photo/20211210/small/lovepik-electronic-products-in-gray-background-picture_501795513.jpg);
    background-repeat: no-repeat; 
    background-size: cover; 
    font-family: 'Arial'; 

}  
.login{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
     background-image:url(https://img.freepik.com/free-vector/5g-networking-technology-background-with-blue-digital-line_53876-119505.jpg?w=2000) ;  
        border-radius: 15px ;  
          
}  
h2{  
    text-align: center;  
    color: #277582;  
    padding: 20px;  
}  
label{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: black; 
    background-image:url(https://media.istockphoto.com/photos/blue-light-defocused-blurred-motion-abstract-background-picture-id1212284111?k=20&m=1212284111&s=612x612&w=0&h=sYaAKVxAEmsDVmbXs_iMzZkzanRlfB4nMWp7QsULWD0=) ; 
    font-size: 20px;
    font-family: cursive;
  
}  
span{  
    color: white;  
    font-size: 17px;  
}  

label80{text-align: center;font-family: cursive; color: black;font-size: 30px;}
label81{color: whitesmoke;}


